.title {
  margin: 10px 30px 16px 10px;
  border-bottom: solid 3px #000;
}
.list-filter {
  margin: 4px 16px;
  width: 160px;
  height: 30px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.list-sorter {
  margin: 4px 16px;
  width: 160px;
  height: 30px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.todo-list {
  font-size: 16px;
  margin: 16px;
  border-spacing: 12px;
  text-align: center;
}
.todo-list__element__name,
.todo-list__element__deadline,
.todo-list__element__priority {
  font-size: 16px;
}
.todo-list__element__state {
  margin: 10px;
  width: 120px;
  height: 32px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.todo-list__element__delete-button {
  padding: 6px;
  width: 100px;
  color: #fff;
  background-color: #f44242;
  font-size: 14px;
}
.todo-list__element__delete-button:hover {
  background-color: #d63939;
  cursor: pointer;
}
.add-todo {
  font-size: 16px;
  margin: 12px;
}
.add-todo__title {
  font: 20px;
}
.add-todo__form {
  text-align: center;
  border-spacing: 16px 0px;
}
.add-todo__form__name {
  font-size: 16px;
  height: 26px;
  width: 160px;
  border-radius: 3px;
}
.add-todo__form__deadline {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 30px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 16px;
}
.add-todo__form__state {
  margin: 10px;
  width: 120px;
  height: 32px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.add-todo__form__priority {
  margin: 10px;
  width: 55px;
  height: 32px;
  border: 1px solid #bbb;
  font-size: 16px;
}
.add-todo__add-button {
  margin-left: 16px;
  width: 120px;
  height: 40px;
  background-color: #f5f5f5;
  font-size: 14px;
}
.add-todo__add-button:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}
